# Build artifacts
/build/
/cmake-build-debug/
my-server
*.o
*.d
*.cmake
/build_coverage/
/coverage_report/ # For when copied to host

# IDE-specific files
.vscode/
.idea/

# Docker
docker-compose.override.yml
.DS_Store
